h1 Log in

form(method="POST", action="/session", class="form-horizontal")
  div(class="control-group")
    label(class="control-label", for="username") Username
    div(class="controls")
      input#username(type="text", placeholder="Username", name="username")
  div(class="control-group")
    label(class="control-label", for="password") Password
    div(class="controls")
      input#password(type="password", placeholder="Password", name="password")
  div(class="control-group")
    div(class="controls")
      button(type="submit", class="btn") Log in